<!doctype html>
<html ng-app="pushTestApp">
  <head>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="pushtest.js"></script>
  </head>
  <body>
    <h2>Push Notification Tester</h2>
    All fields are required
    <div ng-controller="PushTestController as pushTest">
      <form ng-submit="pushTest.send()">
        <p>Title <input type="text" ng-model="pushTest.title" size="30"></p>
        <p>Message <input type="text" ng-model="pushTest.message" size="70"></p>
        <p>Device ID <input type="text" ng-model="pushTest.deviceId" size="30"></p>
        <p>Open action:</p>
        <p><input type="radio" ng-model="pushTest.openAction" value="None"> Do nothing</p>
        <p><input type="radio" ng-model="pushTest.openAction" value="openPage"> Open detail page of promotion ID <input type="text" ng-model="pushTest.promotionId" size="40"></p>
        
        <input class="btn-primary" type="submit" value="Submit" ng-disabled="pushTest.title == '' || pushTest.message == '' || pushTest.deviceId == '' || (pushTest.openAction == 'openPage' && pushTest.promotionId == '')">
      </form>
      <p ng-bind="pushTest.result">
    </div>
  </body>
</html>